@import './variables';
@import './mixins';
@import './reset';

html, body {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	color: #fff;
}

.header {
	background-color: $primaryColor;

	> td {
		height: 295px;
	}

	td {
		background-color: $primaryColor;
	}

	.headline {
		padding-top: 55px;
		padding-left: 35px;

		img {
			width: 210px;
			text-align: center;
		}
	}

	.babsocks {
		padding-right: 20px;

		img {

		}
	}
}

.body {
	background-color: #f5f5f5;

	> td {
		padding-left: 25px;
		padding-top: 30px;
		padding-right: 25px;
	}
}

.copy {
	color: $primaryColor;
	padding-bottom: 20px;
	line-height: 16pt;
}

.button-padding > tr > td {
	padding-top: 35px;
	padding-bottom: 35px;
}

.button {
	width: 100%;

	table td {
		align: center;

		a {
			border-top: 12px solid $primaryColor;
			border-left: 18px solid $primaryColor;
			border-bottom: 12px solid $primaryColor;
			border-right: 18px solid $primaryColor;
			background-color: $primaryColor;
			color: $titleColor;
			display: inline-block;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

		img {
			text-align: center;
			font-size: 2em;
		}
	}
}

.no-padding {
	padding: 0 !important;
}

@media(max-width: $maxWidth + "px") {
	.babsocks img {
		width: 93%;
	}

	.headline img {
		width: 70% !important;
	}
}

@media(max-width: 515px) {
	.header > td {height: 245px;}
}

@media(max-width: 435px) {
	.header > td {height: 195px;}
}

@media(max-width: 355px) {
	.header > td {height: 145px;}
}